In [51]:
import pandas as pd
import numpy as np
data=pd.read_csv('swineflu.csv')
data1=pd.read_csv('swineflu.csv')

In [52]:
data1

  Chill RunnyNose Headache Fever             Swine Flu?
0   Yes        No     Mild   Yes                     No
1   Yes       Yes       No    No                   Yes
2   Yes        No   Strong   Yes                    Yes
3    No       Yes     Mild   Yes                    Yes
4    No        No       No    No                     No
5    No       Yes   Strong   Yes                    Yes
6    No       Yes   Strong    No                     No
7   Yes       Yes     Mild   Yes  yes

In [54]:

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data1['Swine Flu?']=le.fit_transform(data1['Swine Flu?'])

In [55]:
data1

  Chill RunnyNose Headache Fever  Swine Flu?
0   Yes        No     Mild   Yes           0
1   Yes       Yes       No    No           2
2   Yes        No   Strong   Yes           1
3    No       Yes     Mild   Yes           1
4    No        No       No    No           0
5    No       Yes   Strong   Yes           1
6    No       Yes   Strong    No           0
7   Yes       Yes     Mild   Yes           3

In [ ]:
#see the labels encoded by encoder in data1['Swine Flu?'] column
#only two category but got different results
#means dataframe have some speling mistakes
#we can remove it by following technique of pandas

In [ ]:
#lets consider same dataset which stored in data variable

In [31]:
data

  Chill RunnyNose Headache Fever             Swine Flu?
0   Yes        No     Mild   Yes                     No
1   Yes       Yes       No    No                   Yes
2   Yes        No   Strong   Yes                    Yes
3    No       Yes     Mild   Yes                    Yes
4    No        No       No    No                     No
5    No       Yes   Strong   Yes                    Yes
6    No       Yes   Strong    No                     No
7   Yes       Yes     Mild   Yes  yes

In [57]:
data['Swine Flu?'].value_counts()

Yes                      3
No                       3
Yes                      1
yes                      1
Name: Swine Flu?, dtype: int64

In [ ]:
#insert all values by some number say for Yes and yes ==0 , and No,no==1 as follows

In [58]:
data['Swine Flu?']=data['Swine Flu?'].replace(['No','No'], 1)

In [59]:
data['Swine Flu?']

0                        1
1                     Yes
2                      Yes
3                      Yes
4                        1
5                      Yes
6                        1
7    yes
Name: Swine Flu?, dtype: object

In [60]:
data['Swine Flu?']=data['Swine Flu?'].replace(['Yes','yes'], 0)

In [61]:
data['Swine Flu?']

0                        1
1                     Yes
2                        0
3                        0
4                        1
5                        0
6                        1
7    yes
Name: Swine Flu?, dtype: object

In [ ]:
#still some values are not in converted we can now drop them

In [62]:
data=data.drop(1)

In [63]:
data=data.drop(7)

In [64]:
data

  Chill RunnyNose Headache Fever Swine Flu?
0   Yes        No     Mild   Yes          1
2   Yes        No   Strong   Yes          0
3    No       Yes     Mild   Yes          0
4    No        No       No    No          1
5    No       Yes   Strong   Yes          0
6    No       Yes   Strong    No          1

In [66]:
#convert data to train test
train=data.iloc[:,:-1]
test=data.iloc[:,-1]

In [ ]:
#now we can convert to dummy values

In [68]:
cols_to_transform = [ 'Chill','RunnyNose','Headache','Fever']
df_with_dummies = pd.get_dummies( data=train,columns = cols_to_transform )

In [69]:
df_with_dummies

,Chill_No,Chill_Yes,RunnyNose_No,RunnyNose_Yes,Headache_Mild,Headache_No,Headache_Strong,Fever_No,Fever_Yes
0,0,1,1,0,1,0,0,0,1
2,0,1,1,0,0,0,1,0,1
3,1,0,0,1,1,0,0,0,1
4,1,0,1,0,0,1,0,1,0
5,1,0,0,1,0,0,1,0,1
6,1,0,0,1,0,0,1,1,0

In [ ]:
# now we can use this data for developing modules

In [ ]:
#lets try with another method on same data i.e. DictVectorizer

In [70]:
#convert data to dictionary as DictVectorizer required the input
train_dict =train.T.to_dict().values()

In [71]:
train_dict

dict_values([{'Chill': 'Yes', 'RunnyNose': 'No', 'Headache': 'Mild', 'Fever': 'Yes'}, {'Chill': 'Yes', 'RunnyNose': 'No', 'Headache': 'Strong', 'Fever': 'Yes'}, {'Chill': 'No', 'RunnyNose': 'Yes', 'Headache': 'Mild', 'Fever': 'Yes'}, {'Chill': 'No', 'RunnyNose': 'No', 'Headache': 'No', 'Fever': 'No'}, {'Chill': 'No', 'RunnyNose': 'Yes', 'Headache': 'Strong', 'Fever': 'Yes'}, {'Chill': 'No', 'RunnyNose': 'Yes', 'Headache': 'Strong', 'Fever': 'No'}])

In [72]:
from sklearn.feature_extraction import DictVectorizer as DV

vectorizer = DV( sparse = False )
vec_x_cat_train = vectorizer.fit_transform( train_dict )
#vec_x_cat_test = vectorizer.transform( vec_x_cat_train )

In [73]:
col=vectorizer.get_feature_names()

In [74]:
vec_x_cat_train

array([[0., 1., 0., 1., 1., 0., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0., 1., 1., 0.],
       [1., 0., 0., 1., 1., 0., 0., 0., 1.],
       [1., 0., 1., 0., 0., 1., 0., 1., 0.],
       [1., 0., 0., 1., 0., 0., 1., 0., 1.],
       [1., 0., 1., 0., 0., 0., 1., 0., 1.]])

In [ ]:
#convert data in dataframe as it is in Array

In [75]:
x_train=pd.DataFrame(vec_x_cat_train,columns = col)

In [76]:
x_train

,Chill=No,Chill=Yes,Fever=No,Fever=Yes,Headache=Mild,Headache=No,Headache=Strong,RunnyNose=No,RunnyNose=Yes
0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
3,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
5,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0

In [86]:
#now we can use label encoder as well on this dataset
from sklearn.preprocessing import LabelEncoder
x_label_train=train.apply(LabelEncoder().fit_transform)

In [87]:
x_label_train

   Chill  RunnyNose  Headache  Fever
0      1          0         0      1
2      1          0         2      1
3      0          1         0      1
4      0          0         1      0
5      0          1         2      1
6      0          1         2      0

In [95]:
# using one hot encoding
from sklearn.preprocessing import OneHotEncoder
OHEmodel=OneHotEncoder(sparse =False)
x_OHE_train=OHEmodel.fit_transform(train)

In [96]:

x_OHE_train

array([[0., 1., 1., 0., 1., 0., 0., 0., 1.],
       [0., 1., 1., 0., 0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 1., 0., 0., 0., 1.],
       [1., 0., 1., 0., 0., 1., 0., 1., 0.],
       [1., 0., 0., 1., 0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0., 0., 1., 1., 0.]])

In [98]:
OHEmodel.get_feature_names()

array(['x0_No', 'x0_Yes', 'x1_No', 'x1_Yes', 'x2_Mild', 'x2_No',
       'x2_Strong', 'x3_No', 'x3_Yes'], dtype=object)

In [100]:
#we Done with all preprocessing on data now we can use different models on this datasets

In [99]:
#created by "maee in mind...!"